# entornos / cachés
.venv/
__pycache__/
.ipynb_checkpoints/

# datos pesados locales
data/outputs/*.parquet
data/outputs/*.feather

# raster grandes
data/raster/*.tif
data/raster/*.tiff

# uploads temporales
app/*.tmp
